* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: #333;
    font-family: 'Wix Madefor Text', sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 1rem;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .navbar-brand{
    height: 40px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  pre{
    font-size: 1rem;
    width: 100%;
    font-weight: 200;
    line-height: 1.4rem;
    background-color: #dfe3ec;
    font-family: 'Wix Madefor Text', sans-serif;
  }
